Repository Syfaro/fuzzysearch: changes, and which Drone steps are due for each by the changed paths.
All: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Build FuzzySearch API:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/api
    username:
      from_secret: docker_username

Build FuzzySearch Webhook:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-webhook/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/webhook
    username:
      from_secret: docker_username

Build Ingester e621:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-e621/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-e621
    username:
      from_secret: docker_username

Build Ingester FurAffinity:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-furaffinity/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-furaffinity
    username:
      from_secret: docker_username

Build Ingester Weasyl:
  pull: always
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-weasyl/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-weasyl
    username:
      from_secret: docker_username

Significant refactoring.
  fuzzysearch-api/queries/lookup_api_key.sql
  fuzzysearch-api/src/api/auth.rs
  fuzzysearch-api/src/api/mod.rs
  fuzzysearch-api/src/main.rs
  fuzzysearch-common/src/trace.rs
Due: none

Add metrics, bump versions.
  Cargo.lock
  fuzzysearch-api/Cargo.toml
  fuzzysearch-api/sqlx-data.json
  fuzzysearch-api/src/api/mod.rs
  fuzzysearch-api/src/main.rs
  fuzzysearch-hash-input/Cargo.toml
Due: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Bump versions.
  Cargo.lock
  fuzzysearch-api/Cargo.toml
  fuzzysearch-common/Cargo.toml
  fuzzysearch-hash-input/Cargo.toml
Due: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Include tags in FA search.
  .gitignore
  Cargo.lock
  fuzzysearch-api/src/handlers.rs
  fuzzysearch-api/src/models.rs
  fuzzysearch-common/src/types.rs
  migrations/20220519161030_index_tag_post_id.down.sql
  migrations/20220519161030_index_tag_post_id.up.sql
Due: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Include file sha256 hashes.
  Cargo.lock
  fuzzysearch-api/Cargo.toml
  fuzzysearch-api/src/handlers.rs
  fuzzysearch-api/src/models.rs
  fuzzysearch-common/src/types.rs
Due: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Fix clippy lints.
  fuzzysearch-api/src/models.rs
  fuzzysearch-refresh/src/main.rs
Due: none

Update sqlx data.
  fuzzysearch-api/sqlx-data.json
Due: none

Add e621 flags object to SeachResult site_info
  fuzzysearch-api/src/models.rs
  fuzzysearch-common/src/types.rs
Due: none

Update furaffinity-rs.
  Cargo.lock
Due: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Update versions.
  .github/workflows/release.yml
  fuzzysearch-api/Dockerfile
  fuzzysearch-hash-input/Dockerfile
  fuzzysearch-ingest-e621/Dockerfile
  fuzzysearch-ingest-furaffinity/Dockerfile
  fuzzysearch-ingest-weasyl/Dockerfile
  fuzzysearch-refresh/Dockerfile
  fuzzysearch-webhook/Dockerfile
Due: Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Update actions version.
  .github/workflows/release.yml
Due: none

Set user agent, better errors.
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester Weasyl

Add more delays.
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester Weasyl

Bump furaffinity-rs version.
  Cargo.lock
Due: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

feat: improve FurAffinity rate limiting
  Cargo.lock
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-refresh/Cargo.toml
  fuzzysearch-refresh/src/main.rs
Due: Build FuzzySearch API, Build FuzzySearch Webhook, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Path conditions:
  Build FuzzySearch API: any of: fuzzysearch/**, Cargo.lock
  Build FuzzySearch Webhook: any of: fuzzysearch-webhook/**, Cargo.lock
  Build Ingester e621: any of: fuzzysearch-ingest-e621/**, Cargo.lock
  Build Ingester FurAffinity: any of: fuzzysearch-ingest-furaffinity/**, Cargo.lock
  Build Ingester Weasyl: any of: fuzzysearch-ingest-weasyl/**, Cargo.lock
