Repository Syfaro/fuzzysearch: changes, and which Drone steps are due for each by the changed paths.
All: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

.drone.yml:

---
kind: pipeline
type: docker
name: default

platform:
  os: linux
  arch: amd64

steps:
- name: Run tests
  image: rust:1-slim-buster
  commands:
  - apt-get update -y
  - apt-get install -y wget libssl-dev pkg-config
  - apt-get install -y libavcodec-dev libavformat-dev libavutil-dev libavdevice-dev clang llvm
  - apt-get install -y python3 python3-pip
  - pip3 install cfscrape
  - wget -O sccache.tar.gz https://github.com/mozilla/sccache/releases/download/0.2.13/sccache-0.2.13-x86_64-unknown-linux-musl.tar.gz
  - tar zxvf sccache.tar.gz
  - export RUSTC_WRAPPER=$(pwd)/sccache-0.2.13-x86_64-unknown-linux-musl/sccache
  - export SQLX_OFFLINE=true
  - cargo build
  - cargo test
  - $(pwd)/sccache-0.2.13-x86_64-unknown-linux-musl/sccache --show-stats
  environment:
    AWS_ACCESS_KEY_ID:
      from_secret: sccache_s3_access_key
    AWS_SECRET_ACCESS_KEY:
      from_secret: sccache_s3_secret_key
    SCCACHE_BUCKET: cache
    SCCACHE_ENDPOINT:
      from_secret: sccache_s3_endpoint
    SCCACHE_S3_USE_SSL: true

- name: Build FuzzySearch API
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/api
    username:
      from_secret: docker_username
  when:
    branch:
    - master
    paths:
    - fuzzysearch/**

- name: Build Ingester e621
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-e621/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-e621
    username:
      from_secret: docker_username
  when:
    branch:
    - master
    paths:
    - fuzzysearch-ingest-e621/**

- name: Build Ingester FurAffinity
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-furaffinity/Dockerfile
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-furaffinity
    username:
      from_secret: docker_username
  when:
    branch:
    - master
    paths:
    - fuzzysearch-ingest-furaffinity/**

- name: Build Ingester Weasyl
  image: plugins/docker
  settings:
    auto_tag: true
    dockerfile: fuzzysearch-ingest-weasyl/Docker
    password:
      from_secret: docker_password
    registry: registry.huefox.com
    repo: registry.huefox.com/fuzzysearch/ingest-weasyl
    username:
      from_secret: docker_username
  when:
    branch:
    - master
    paths:
    - fuzzysearch-ingest-weasyl/**

---
kind: signature
hmac: 33bc014cd33d59213ac44b346b006948c5135b4cfeffcfec94a09302263d1074

...

Derive more for types.
  fuzzysearch-common/src/types.rs
Due: none

Update package names and Dockerfiles.
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/lib.rs
  fuzzysearch-ingest-e621/.dockerignore
  fuzzysearch-ingest-e621/.drone.yml
  fuzzysearch-ingest-e621/.gitignore
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-e621/Dockerfile
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/Dockerfile
  fuzzysearch-ingest-weasyl/Cargo.toml
  fuzzysearch-ingest-weasyl/Dockerfile
  fuzzysearch/Cargo.toml
  fuzzysearch/Dockerfile
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Fix typo in drone.yml file.
  .drone.yml
Due: none

Improve FurAffinity retry logic, add timeout.
  .drone.yml
  Cargo.lock
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build Ingester FurAffinity

Only build images when pushing to master.
  .drone.yml
Due: none

Use tracing instead of directly printing messages.
  Cargo.lock
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build Ingester FurAffinity

Make case consistent on messages.
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build Ingester FurAffinity

Use tracing instead of panics directly.
  Cargo.lock
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build Ingester FurAffinity

Record users online.
  Cargo.lock
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build Ingester FurAffinity

Extract submission handling to new function.
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build Ingester FurAffinity

Improve FurAffinity ingester (#5)
  .drone.yml
  Cargo.lock
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
Due: Build Ingester FurAffinity

Rough initial progress on webhooks.
  Cargo.lock
  Cargo.toml
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/faktory.rs
  fuzzysearch-common/src/lib.rs
  fuzzysearch-common/src/types.rs
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-webhook/Cargo.toml
  fuzzysearch-webhook/src/main.rs
  migrations/20210301032646_webhooks.down.sql
  migrations/20210301032646_webhooks.up.sql
Due: Build Ingester FurAffinity

Add looking up FA submissions by site ID.
  Cargo.lock
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch/Cargo.toml
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/types.rs
Due: Build FuzzySearch API, Build Ingester e621, Build Ingester FurAffinity

Install missing dependency in Docker image.
  fuzzysearch/Dockerfile
Due: Build FuzzySearch API

Authenticate e621 ingester.
  Cargo.lock
  fuzzysearch-ingest-e621/src/main.rs
Due: Build Ingester e621

Remove broken test.
  fuzzysearch-ingest-e621/src/main.rs
Due: Build Ingester e621

Remove hashes table, add Weasyl lookups.
  fuzzysearch-common/src/types.rs
  fuzzysearch/sqlx-data.json
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/main.rs
  fuzzysearch/src/models.rs
  migrations/20210419174900_index_all_hashes.down.sql
  migrations/20210419174900_index_all_hashes.up.sql
  migrations/20210419202830_remove_old_index.down.sql
  migrations/20210419202830_remove_old_index.up.sql
Due: Build FuzzySearch API

Remove hashes table, add Weasyl lookups (#7)
  fuzzysearch-common/src/types.rs
  fuzzysearch/sqlx-data.json
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/main.rs
  fuzzysearch/src/models.rs
  migrations/20210419174900_index_all_hashes.down.sql
  migrations/20210419174900_index_all_hashes.up.sql
  migrations/20210419202830_remove_old_index.down.sql
  migrations/20210419202830_remove_old_index.up.sql
Due: Build FuzzySearch API

Update dependencies.
  Cargo.lock
Due: none

Better webhook error handling, use all ingesters.
  Cargo.lock
  fuzzysearch-common/src/types.rs
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/Cargo.toml
  fuzzysearch-webhook/src/main.rs
  migrations/20210301032646_webhooks.down.sql
  migrations/20210301032646_webhooks.up.sql
  migrations/20210420024815_webhooks.down.sql
  migrations/20210420024815_webhooks.up.sql
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Include hash in webhook data.
  fuzzysearch-common/src/types.rs
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Always pull Rust image.
  .drone.yml
Due: none

Fix missing features.
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-weasyl/Cargo.toml
Due: Build Ingester e621, Build Ingester Weasyl

Allow outputting JSON logs from ingesters.
  Cargo.lock
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/Cargo.toml
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Webhooks (#8)
  .drone.yml
  Cargo.lock
  Cargo.toml
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/faktory.rs
  fuzzysearch-common/src/lib.rs
  fuzzysearch-common/src/types.rs
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/Cargo.toml
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/Cargo.toml
  fuzzysearch-webhook/src/main.rs
  migrations/20210420024815_webhooks.down.sql
  migrations/20210420024815_webhooks.up.sql
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Skip instrument for faktory.
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester Weasyl

Use more specific timestamp format.
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Update logger for webhooks too.
  fuzzysearch-webhook/src/main.rs
Due: none

JSON log output (#9)
  Cargo.lock
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/Cargo.toml
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/src/main.rs
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Build webhook image, change base images.
  .drone.yml
  fuzzysearch-ingest-furaffinity/Dockerfile
  fuzzysearch-webhook/Dockerfile
Due: Build Ingester FurAffinity

Small changes to force build.
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester Weasyl

More logging updates.
  Cargo.lock
  fuzzysearch-common/Cargo.toml
  fuzzysearch-common/src/lib.rs
  fuzzysearch-ingest-e621/Cargo.toml
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-furaffinity/Cargo.toml
  fuzzysearch-ingest-furaffinity/src/main.rs
  fuzzysearch-ingest-weasyl/Cargo.toml
  fuzzysearch-ingest-weasyl/src/main.rs
  fuzzysearch-webhook/Cargo.toml
  fuzzysearch-webhook/src/main.rs
Due: Build Ingester e621, Build Ingester FurAffinity, Build Ingester Weasyl

Other logging changes.
  fuzzysearch-ingest-e621/src/main.rs
  fuzzysearch-ingest-weasyl/src/main.rs
Due: Build Ingester e621, Build Ingester Weasyl

Change more logging messages.
  fuzzysearch-ingest-e621/src/main.rs
Due: Build Ingester e621

Update opentelemetry.
  Cargo.lock
  fuzzysearch/Cargo.toml
  fuzzysearch/src/filters.rs
  fuzzysearch/src/main.rs
Due: Build FuzzySearch API

Use UNION ALL for performance.
  fuzzysearch/sqlx-data.json
  fuzzysearch/src/models.rs
Due: Build FuzzySearch API

Improve query performance, instrumentation.
  Cargo.lock
  fuzzysearch-webhook/src/main.rs
  fuzzysearch/src/filters.rs
  fuzzysearch/src/handlers.rs
  fuzzysearch/src/main.rs
  fuzzysearch/src/models.rs
  migrations/20210422224815_change_hash_index.down.sql
  migrations/20210422224815_change_hash_index.up.sql
Due: Build FuzzySearch API

Update sqlx data.
  fuzzysearch/sqlx-data.json
Due: Build FuzzySearch API

Revert using UNION instead of UNION ALL.
  fuzzysearch/sqlx-data.json
  fuzzysearch/src/main.rs
Due: Build FuzzySearch API

Each webhook should be own job.
  fuzzysearch-common/src/types.rs
  fuzzysearch-webhook/src/main.rs
Due: none
